<h1>The Shire thanks you <%= @passenger.name %>.</h1>

<h2>Your flight information</h2>

<p>
  Flight ID: <%= @booking.flight.id %> </br>
  Origin: <%= @booking.flight.from_airport.code %> </br>
  Destination: <%= @booking.flight.to_airport.code %> </br>
  Departure: <%= @booking.flight.start_datetime.in_time_zone("Central Time (US & Canada)").strftime("%c") %> </br>
  Duration: <%= @booking.flight.duration %> minutes
</p>

<p>Fairwell, friend. May your journey be filled with success.</p>

<p>“Still round the corner there may wait a new road or a secret gate, and though I oft have passed them by, a day will come at last when I shall take the hidden paths that run west of the moon, east of the sun”</p>
